{%- extends "base.html" %}

{%- block seo -%}
  {{- super() }}

  {%- set title_addition = "" %}
  {%- if page.title and config.title %}
    {%- set title = page.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- elif page.title %}
    {%- set title = page.title %}
  {%- else %}
    {%- set title = config.title %}
  {%- endif %}

  {%- if page.relative_path is starting_with("posts/") %}
    {%- set description = page.content | spaceless | striptags | truncate(length=200) %}
    {%- set type = "article" %}
  {%- else %}
    {%- if page.description %}
      {%- set description = page.description %}
    {%- else %}
      {%- set description = config.description %}
    {%- endif %}
    {%- set type = "website" %}
  {%- endif %}
  
  {{- macros::seo(title=title, title_addition=title_addition, description=description, type=type, is_page=true) }}
{% endblock seo %}

{%- block content %}
<article class="page">
  <div class="header-container">
    <h2>{{ page.title }}</h2>
    {%- if config.extra.edit_page %}
    <div class="improve hide-on-mobiles">
      {{ macros::get_edit_url(page=page) }}
    </div>
    {%- endif %}
  </div>
  {%- if not page.extra.no_page_info %}
  <div class="page-info">
    {%- if page.taxonomies.tags %}
    <span>Tags = [
      {%- for tag in page.taxonomies.tags %}
      {%- if config.extra.simplified_tags %}
        {%- set term = get_taxonomy_term(kind="tags", term=tag) %}
        {%- set tag_url = get_url(path="@/pages/tags.md") ~ "#" ~ term.slug %}
      {%- else %}
        {%- set tag_url = get_taxonomy_url(kind="tags", name=tag) %}
      {%- endif %}
      <a href="{{ tag_url | safe }}" class="page-tag">{{ tag }}</a>
      {%- if not loop.last %},
      {%- endif %}
      {%- endfor %} ]
    </span>{% endif %}
    <time class="page-time smaller" datetime="{{ page.date | date(format="%Y-%m-%dT%H:%M:%S%:z") }}">
      {{ macros::page_timestamp(page=page) }}
    </time>
  </div>
  {%- endif %}
  <div class="entry">
    {{ page.content | safe }}
  </div>
  {%- if page.relative_path is starting_with("posts/") and not page.extra.no_comments and config.extra.giscus %}
  {%- include "partials/giscus.html" -%}
  {%- endif %}
</article>
{% endblock %}
